.headrbck_clr{
    background-color:lightcyan;
}
.fntstyle{
    font-family: 'Courier New';
}
.divcolor{
    background-color: rgb(87, 83, 83);
}
 .bckimg{
    background-image:url('../assets/download.jpg')
} 